.box {
    height: 100%;
    width: 100%;
  }
  
  .box .plug-in {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .box .overlap {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .box .overlap-group {
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #000000;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 553px;
    left: 10%;
    position: absolute;
    top: 350px;
    width: 1200px;
  }


  .box .eat-container {
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 120px;
    left: 0;
    position: absolute;
    top: 111px;
    width: 562px;
  }
  

  .box .getting-bored {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 2%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 456px;
  }
  
  .box .text-gastronomy {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 148px;
    white-space: nowrap;
    width: 359px;
  }
  
  .box .gastronomy-img {
    height: 87px;
    left: 641px;
    position: absolute;
    top: 137px;
    width: 87px;
  }
  
  .box .container-shops {
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 140px;
    left: 906px;
    position: absolute;
    top: 137px;
    width: 762px;
  }
  
  .box .text-shops {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 34px;
    white-space: nowrap;
    width: 189px;
  }
  
  .box .shopping-img {
    height: 88px;
    left: 649px;
    position: absolute;
    top: 23px;
    width: 87px;
  }
  
  .box .container-discover {
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 140px;
    left: 48px;
    position: absolute;
    top: 320px;
    width: 762px;
  }
  
  .box .text-wrapper-4 {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 33px;
    white-space: nowrap;
    width: 271px;
  }
  
  .box .discover-img {
    height: 88px;
    left: 637px;
    position: absolute;
    top: 24px;
    width: 88px;
  }
  
  .box .container-activities {
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 140px;
    left: 906px;
    position: absolute;
    top: 321px;
    width: 762px;
  }
  
  .box .text-activities {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 32px;
    white-space: nowrap;
    width: 271px;
  }
  
  .box .activities-img {
    height: 88px;
    left: 649px;
    position: absolute;
    top: 23px;
    width: 88px;
  }
  
  .box .container-charging {
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #000000;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 220px;
    left: 10%;
    position: absolute;
    top: 30px;
    width: 1200px;
  }
  
  .box .container-help {
    height: 229px;
    left: 752px;
    position: absolute;
    top: 25px;
    width: 964px;
  }
  
  
  .box .img-help {
    height: 220px;
    left: 25%;
    position: absolute;
    top: -15%;
    width: 220px;
  }
  

  .box .rectangle-help {
    border: 6px solid;
    border-color: #323232;
    border-radius: 40px;
    height: 96px;
    left: 0;
    position: absolute;
    top: 0;
    width: 96px;
  }
  
  .box .carbattery {
    height: auto;
    left: -10%;
    position: absolute;
    top: 0%;
    width: 400px;
  }
  
  .box .text-h-left {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: -40%;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 358px;
  }
  
  .box .text-car-power {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: -40%;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 358px;
  }
  
  .box .text-kwh {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: -40%;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 358px;
  }
  
  .box .text-charging {
    color: #262626;
    font-family: "Inter", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 42px;
    width: 348px;
  }

  .box .rectangle {
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #000000;
    border-radius: 115px;
    box-shadow: 0px 4px 4px #00000040;
    height: 600px;
    left: 10%;
    position: absolute;
    top: 5%;
    width: 1200px;
  }
  
  .box .imageInstruction {
    height: 200px;
    left: 45%;
    object-fit: cover;
    position: absolute;
    top: 10%;
    width: 200px;
  }
  
  .box .instructionText {
    color: #262626;
    font-family: "Inter-Regular", Helvetica;
    font-size: 90px;
    font-weight: 400;
    left: 4%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 1506px;
  }
  
  .box .text-wrapper {
    color: #262626;
    font-family: "Inter-Regular", Helvetica;
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .box .span {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
  }
  